<% @products.each do |product| %>
  <div>
    <p>name: <%= product.name %></p>
    <p>price: <%= product.price %></p>
    <p>description: <%= product.description %></p>
    <a href="/products/<%= product.id %>">More Info</a>
  </div>
<% end %>